html, body {
    margin: 0;
    padding: 0;
}

#screen {
    text-align: center;
}

#controls {
    position: fixed;
    width: 250px;
    right: 0;
    bottom: 50px;
    background-color: #afbfd2;
    padding: 5px;
    /* border-radius: 3px; */
    border: solid 2px black;
    font-family: sans-serif;
    transition: right 0.2s;
}
#controls.closed {
    right: -170px;
}

#controls-button {
    cursor: pointer;
}
